<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="stage and preview files before processing">
        <title>File Handling Platform</title>
        <link rel="icon" href="" type="image/x-icon" sizes="16x16 32x32">
        <link rel="stylesheet" href="../static/css/main.css">
        <!-- Google Fonts; Special Elite, Black Ops One -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto+Condensed&display=swap" rel="stylesheet">
    </head>
    <body class="light-mode-colors">
        <div id="root">
            <div id="upper-container">
                <span id="website-title">File Handling Platform</span>
                <div id="toggle-theme"><span onclick="toggleTheme()"></span></div>
            </div>
            <div id="operations-container">
                <div id="files-stage" class="operations-container platform">
                    <div id="message" class="files-stage">
                        <span>You have not picked any files</span>
                        <img src="../static/images/trash.svg" alt="trash-icon" onclick="removeFilesFromStage()"/>
                    </div>
                    <div id="stage-contents" class="files-stage"></div>
                </div>
                <div id="file-handling" class="operations-container">
                    <input id="file-upload" name="file-upload" type="file" oninput="addFilesToStage(event)" multiple/>
                    <label for="file-upload" class="file-handing-buttons platform">Choose Files</label>
                    <button class="file-handing-buttons platform">Process Files</button>
                </div>
            </div>
        </div>
        <script src="../static/js/main.js"></script>
    </body>
</html>